<div class="section section-small section-get-started">
    <div class="parallax filter">
        <!-- <div class="image" style="background-image: url('assets/img/office-1.jpeg')">
        </div> -->
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Olá, seja bem-vind@</h2>
                <div class="separator line-separator">♦</div>
                <p class="description"> Reservamos essa página para disponibilizar informações importantes sobre outros serviços, atendimento e nosso contato. Porém, se deseja apenas acessar o sistema, favor clique no botão abaixo!</p>
            </div>

            <div class="button-get-started">
                <a routerLink="/loginExternal" class="btn btn-danger btn-fill btn-lg">Acessar o Sistema</a>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Serviços Importantes</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Conheça alguns dos principais serviços, quem sabe até os mais importantes. Por favor, tente se familiarizar na utilização destas ferramentas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fa fa-glide-g" aria-hidden="true"></i>
                    </div>
                    <h3><a href="http://sistemas.secult.ce.gov.br/glpi/">GLPI</a></h3>
                    <p class="description">Solicite atendimento técnico e acompanhe a solução do problema. Analise o tempo de espera para ser atendido e o parecer técnico do problema, etre outras opções!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </div>
                    <h3><a href="http://editais.cultura.ce.gov.br/">Sistema de Editais</a></h3>
                    <p class="description">Acompanhe todos os lançamentos de editais, histórico e o andamento dos mesmos, entre outras opções!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                    </div>
                    <h3><a href="http://mapa.cultura.ce.gov.br/">Mapas Culturais</a></h3>
                    <p class="description">O Mapa Cultural do Ceará é a plataforma livre, gratuita e colaborativa de mapeamento da Secretaria da Cultura do Estado do Ceará sobre cenário cultural cearense.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <!-- <div class="image" style="background-image:url('assets/img/header-2.jpeg')">
        </div> -->
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Equipe de Desenvolvedores</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Célula da Tecnologia da Informação e Comunicação</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/faces/marc.jpg" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Jackson</h3>
                                                <p class="small-text">Programador / Desenvolvedor</p>
                                                <p class="description">
                                                    Também conhecido como "Jack", é bachareal em sistemas Informação, atua nos projetos Mapas Culturais, Login Cidadão e SGP.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/faces/marc.jpg" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Nalomy</h3>
                                                <p class="small-text">Analista de Sistemas</p>
                                                <p class="description">
                                                    Também conhecido como "Alves", é especialista em Engenharia de Software, responsável pela equipe de desenvolvedores da secretaria da cultura.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/faces/marc.jpg" />
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Júnior</h3>
                                                <p class="small-text">Programador / Desenvolvedor</p>
                                                <p class="description">
                                                    Também conhecido como "Mister", é formado em Análise e Desenvolvimento de Sistemas, atua nos projetos SGP, SGA e Ponto Eletrônico.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Célula da Tecnologia da Informação e Comunicação - CETIC</h5>
            <h2>Equipe de Desenvolvedores</h2>
            <div class="separator separator-danger">∎</div>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="assets/img/faces/marc.jpg" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="assets/img/faces/marc.jpg" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial3" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="assets/img/faces/marc.jpg" />
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    Nalomy Souza, também chamado de "Alves", é o analista de sistemas responsável pela equipe de desenvolvedores da secretaria da cultura.
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">
                    Francisco Jackson, também chamado de "Jack", é programador de sistemas.
                </p>
            </div>
            <div class="tab-pane" id="testimonial3">
                <p class="description">
                    Luiz Roberto, também chamado de "Mister", é programador de sistemas.
                </p>
            </div>

        </div>

    </div>
</div>
-->

<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Endereço</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.google.com.br/maps/place/Rua+Major+Facundo,+500+-+Centro,+Fortaleza+-+CE/@-3.7276115,-38.5300241,17z/data=!3m1!4b1!4m5!3m4!1s0x7c749ad3ae12259:0x6d61686472870ab0!8m2!3d-3.7276115!4d-38.5278354">
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Rua Major Facundo, 500 - Centro, 8º Andar, 60025-130</p>
                                    <p>Fortaleza - CE </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title"> Contato</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i> 3101-6779 / 3101-2578</p>
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> cetic@secult.ce.gov.br</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Rede Social</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/secultceara/" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SecultCeara" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCVckZREupHqHkoS7MmxwH9w" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">© 2017</div>
    </div>
</footer>