<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Pessoas</h4>
                    <p class="category">Pagantes cadastrados</p>
                </div>
                <div class="card-content">
                    <div class="col-md-10 col-md-offset-1">
                        <bootstrap-table [config]="config" (onEdit)="onEdit($event)" (onRemove)="onRemove($event)"></bootstrap-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>